/* components/AllHighlightsPage.css */
.all-highlights-page {
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 24px;
}

.quote-list {
    list-style: none;
    padding: 0;
}

.quote-list li {
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f8f8f8;
}

h3 {
    font-size: 20px;
    margin: 0;
}

p {
    font-size: 16px;
    margin: 10px 0;
}