.home-page {
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 24px;
}

a {
    display: block;
    margin: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #0074d9;
}

a:hover {
    text-decoration: underline;
}
