/* Style for the overall container */
.FilterPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  font-family: Arial, sans-serif;
  background-color: #F4EEFF;
  border: 1px solid #DCD6F7;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for the heading */
h2 {
  font-size: 24px;
  color: #424874;
  margin: 0;
  padding: 1rem;
}

/* Style for the tag filtering select input */
select#tagValue {
  padding: 0.5rem;
  margin: 0.25rem 0;
  border: 1px solid #DCD6F7;
  border-radius: 4px;
}

/* Style for the list container */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style for list items */
li {
  background-color: #fff;
  border: 1px solid #DCD6F7;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add any additional styles specific to this component here */
