
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 1px 3px -2px black;
    background-color: white;
    width: 90%;
    align-items: center;
    margin-left: 50px;
    border-radius: 10px;
   
  
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
  display: flex;
    color: Âè£#171717;
    font-size: 30px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}




.lb button {

    width: 137px;
    height: 44px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    margin-top: 20px;
}
