.collection-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.buttons-container {
    display: flex;
    align-items: center;
}

.buttons-container {
    margin-right: 5px;
    /* padding: 10px 20px; 
    background-color: #007BFF;
    color: #fff; */
    border: none;
    cursor: pointer;
}

.tags-dropdown {
    position: relative;
}

.tags-dropdown {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.tags-options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.tags-options button {
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.tags-options button:hover {
    background-color: #f0f0f0;
}

/* Define styles for different content sections (quotes, memories, songs) as needed */

.quotes-content {
    /* Styles for quotes content */
}

.memories-content {
    /* Styles for memories content */
}

.songs-content {
    /* Styles for songs content */
}