<%- include("partials/header"); -%>
<style media="screen">
  h3{
    text-align: center;
margin-bottom: 5rem;


  }
  .Post{
    margin: 5rem 15rem;
    background-color: #FAEDCD;
    padding: 3rem 10rem;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right: 8px solid #CCD5AE;
    border-left: 8px solid #CCD5AE;

  }

  .content {
    font-size: large;
    opacity: 0.8;
    text-align: center;
    line-height: 3.5rem;
    padding: 0 7rem;
  }
</style>

  <div class="container-fluid">
  <% newPost.forEach(function(post){%>
    <div class="posts">
      <h3 class="Post"><%= post.book %></h3>
      <p class="content"><%= post.content %></p>
    </div>

  <%});%>
</div>


</body>
</html>
