/* Style for the main container */
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #F4EEFF;
  padding: 20px;
}

/* Style for the page title */
h2 {
  font-size: 28px;
  color: #424874;
  margin-bottom: 20px;
}

/* Style for the compose form container */
.compose-form {
  background-color: #DCD6F7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

/* Style for form inputs and textarea */
form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #A6B1E1;
  border-radius: 6px;
}

/* Style for the submit button */
button[type="submit"] {
  background-color: #424874;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

/* Style for button hover effect */
button[type="submit"]:hover {
  background-color: #A6B1E1;
  color: #fff;
}

/* Style for the status message */
h6#statusOfSubmit {
  font-size: 20px; /* Increase the font size */
  color: #A6B1E1; /* Change the color */
  text-align: center;
}
